<div class='pill {{#if deactivated}} deactivated-pill {{/if}}' tabindex=0>
    {{#if has_image}}
        {{#if is_bot}}
            <img class="pill-image" src="../images/icons/bot-icon.png" alt="" class="no-drag"/>
        {{else}}
            <img class="pill-image" src="{{img_src}}" />
        {{/if}}
    {{/if}}
    <span class="pill-value">{{ display_value }}
        {{~#if has_status~}}
        {{~> status_emoji status_emoji_info~}}
        {{~/if~}}
    </span>
    <div class="exit">
        <span aria-hidden="true">&times;</span>
    </div>
</div>
